.info {
    color: blue;
}

.nacionalidad {
    color:orange;
}

.idiomas {
    color:red
}

.infof {
    background-color: orange;
}

.nacionalidadf {
    background-color: green
}

.estudiosf {
    background-color: pink;
}

.idiomasf {
    background-color: rgb(121, 201, 247);
}

.enviarf {
    background-color: gray;
}