.seguridad {
    background-color: rgb(41, 235, 41);
    text-align: center;
}

.web {
    background-color: rgb(10, 216, 243);
    text-align: center;
}

.patio {
    text-align: center;
}

.sistemas {
    background-color: rgb(253, 156, 29);
    text-align: center;
}

.redes {
    background-color: rgb(255, 255, 0);
    text-align: center;
}

.empresa {
    background-color: rgba(255, 168, 110, 0.678);
    text-align: center;
}

.tutoria {
    background-color: navajowhite;
    text-align: center;
}

