.principal1 {
    width: 50px;
    height: 50px;
    position: absolute;
}

.padding {
    padding-right: 400px;
    padding-left: 50px;
}

body {
    background-color: rgb(41, 41, 41);
    color: white;
}

#foto1 {
    width: 215px;
    height: 200px;
    position: absolute;
    right: 120px;
    top: 180px;
}


