div {
    width: 600px;
    height: 600px;
}

.izquierda {
    float: left;
}

.uno {
    width: 400px;
    height: 100px;
    background-color: green;
    float: left;
}

.dos {
    width: 150px;
    height: 200px;
    background-color: black;
    float: left;
    padding: 5px;
}

.tres {
    width: 250px;
    height: 200px;
    float:left;
    background-color: green;
    padding: 5px;
}

.cuatro {
    width: 100px;
    height: 100px;
    float: left;
    background-color: green;
}

.cinco {}
